<h2>Ride History</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Distance</th>
    <th>Duration</th>
  </tr>
  <% @rides.each do | ride_id, data| %>
    <tr>
      <td><%= data[:date] %></td>
      <td><%= data[:distance] %></td>
      <td><%= data[:duration] %></td>
      <td><a href="/rides/edit/<%= ride_id %>">Edit</a></td>
      <td><a href="/rides/delete/<%= ride_id %>">Delete</a></td>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <td>Totals</td>
      <td>Total Miles</td>
      <td>Total Duration</td>
    </tr>
  </tfoot>
</table>

<div>
  <a href="/rides/add">Add New Ride</a>
</div>