<h2>Ride History</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Distance</th>
    <th>Duration</th>
    <th>Category</th>
    <th></th>
    <th></th>

  </tr>
  <% @rides.each do | ride_id, data| %>
    <tr>
      <td><%= data[:date] %></td>
      <td><%= data[:distance] %></td>
      <td><%= data[:duration] %></td>
      <td></td>
      <td>
        <form action="/rides/edit/<%= ride_id %>" method="get">
          <button type="submit">Edit</button>
        </form>
      </td>
      <td>
        <form action="/rides/delete/<%= ride_id %>" method="post">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <td>Totals</td>
      <td>Total Miles</td>
      <td>Total Duration</td>
    </tr>
  </tfoot>
</table>

<div>
  <a href="/rides/add">Add New Ride</a>
</div>